/* color variables */
:root {
  --bg-color: hsl(235, 18%, 26%);
  --main-bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(234, 29%, 20%);
  --btn-color: hsl(234, 29%, 20%);
  --input-border-color: hsl(231, 7%, 60%);
  --error-color: hsl(4, 100%, 67%);
}

body {
  font-size: 16px;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

.pagewrapper {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main#stay-updated {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 1rem;
  border-radius: 1.25rem;
  background-color: white;
}

.row {
  display: flex;
  width: 80%;
  max-width: 1100px;
  padding: 0 20px;
}

.column {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

ul.column {
  list-style-type: none;
  gap: 0.5rem;
  padding: 0;
}

span {
  vertical-align: middle;
}

.bullet-checkmark {
  margin-right: 1rem;
}

label {
  font-weight: bold;
}

button,
input {
  height: 3rem;
  border-radius: 0.35rem;
}

input {
  border-color: var(--input-border-color);
  color: var(--input-border-color);
  border: solid 1px;
  padding-left: 1rem;
}

button {
  background-color: var(--btn-color);
  border: none;
  color: white;
}

#bar-graph {
  height: 90%;
}

.success-popup {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
